{% extends 'layout.twig' %}

{% block content %}
<h1>{{ nombreLista }}</h1>
<table>
	<thead>
		<tr>
			<th>IMAGEN</th>
			<th>PRODUCTO</th>
			<th>ENLACE</th>
			<th colspan="2">OPCIONES</th>
		</tr>
	</thead>
	<tbody>
		{% for producto in productos %}
		<tr>
			<td><img src="{{base_url()}}/imagenes/{{producto.IMAGEN}}" alt="Smiley face" height="80" width="80"> </td>
			<td>{{ producto.NOMBRE_PRODUCTO }}</td>
			<td><a href="{{ producto.ENLACE_COMPRA }}" target="_blank">Link</a></td>
			<td><a href="{{ path_for('') }}">Ver</a></td>
            <td><a href="{{ path_for('') }}">Eliminar</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p><a href="{{ path_for('producto.nuevo', {'idLista': idLista, 'nombreLista': nombreLista}) }}">Añadir producto</a></p>
<p><a href="{{ path_for('lista.misListas') }}">Volver</a></p>
{% endblock %}