{% extends 'layout.twig' %}

{% block content %}
<div class="main-w3layouts wrapper">
  <h1>{{ nombreLista }}</h1>
    <div class="main-agileinfo">
	 <div class="agileits-content"> 
		
		{% for producto in productos %}
		<div class="productos">
			<div class="container">
					<div class="producto-imagen">
						<img src="{{base_url()}}/imagenes/{{producto.IMAGEN}}" alt="{{ producto.NOMBRE_PRODUCTO }}">
					</div>
					<div class="producto-detalle">
							</em>{{ producto.NOMBRE_PRODUCTO }}</em></br>
							{% if producto.COMPRADO == 1 %}
								<i>Comprado</i>
							{% else %}
								<i>Pendiente</i>
							{% endif %}
					</div>
					<div class="producto-enlace">
							<a class="botonProducto" href="{{ producto.ENLACE_COMPRA }}" target="_blank">Enlace</a>
					</div>
					<div class="producto-pendiente">
							<form action="{{ path_for('producto.cambiarEstado', {'idLista': idLista, 'nombreLista': nombreLista})}}"  method="post">
									<input type="hidden" name="id" id="id" value="{{producto.ID}}">
									<input type="hidden" name="id_lista" id="id_lista" value="{{idLista}}">
									<input type="hidden" name="nombreLista" id="nombreLista" value="{{nombreLista}}">
									{% if producto.COMPRADO == 1 %}
										<input type="hidden" name="estado" id="estado" value="0">
										<input type="submit" class="botonProducto" value="Pendiente">
									{% else %}
										<input type="hidden" name="estado" id="estado" value="1">
										<input type="submit" class="botonProducto" value="Comprado">
									{% endif %}
								</form>
					</div>
					<div class="producto-editar">
							<a class="botonProducto" href="{{ path_for('producto.editar', {'id': producto.ID, 'idLista': idLista, 'nombreLista': nombreLista})}}">Editar</a>
					</div>
					<div class="producto-eliminar">
							<form action="{{ path_for('producto.eliminar')}}"  method="post">
									<input type="hidden" name="id" id="id" value="{{producto.ID}}">
									<input type="hidden" name="idLista" id="idLista" value="{{idLista}}">
									<input type="hidden" name="nombreLista" id="nombreLista" value="{{nombreLista}}">
									<input type="submit" class="botonProducto" value="Eliminar">
								</form>
					</div>
				</div>
			</div>
		{% endfor %}
	
		</tbody>
	</table>

<p><a class="inputLink" href="{{ path_for('producto.nuevo', {'id': id, 'idLista': idLista, 'nombreLista': nombreLista}) }}">AÑADIR PRODUCTO</a></p>
<p><a class="inputLink" href="{{ path_for('lista.misListas') }}">VOLVER</a></p>
</div>
{% endblock %}