{% extends 'layout.twig' %}

{% block content %}

<div class="main-w3layouts wrapper">
  <h1>Lista de Regalos</h1>
  <div class="main-agileinfo">
    <div class="agileits-top"> 
      <form action="{{ path_for('producto.editar', {'id': id, 'idLista': idLista, 'nombreLista': nombreLista})}}"  method="post" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" value="{{id}}">
        <input type="hidden" name="idLista" id="idLista" value="{{idLista}}">
        <input type="hidden" name="nombreLista" id="nombreLista" value="{{nombreLista}}">
        <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre Producto" value="{{nombre}}">
        <input type="text" name="enlace_compra" id="enlace_compra" placeholder="Enlace" value="{{enlace_compra}}">
        <input type="file" name="imagen" id="imagen" placeholder="">
        <input type="submit" value="GUARDAR">
      </form>
      <p><a class="inputLink" href="{{ path_for('producto.lista', {'idLista': idLista, 'nombreLista': nombreLista})}}">Volver</a></p>
    </div>	 
  </div>	
  <ul class="w3lsg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

{% endblock %}