{% extends 'layout.twig' %}

{% block content %}

{# la función path_for('') llama la ruta con el nombre que recibe como parametro #} 

{% if session.email %}
    <h2>Hola {{ session.nombre }}!</h2>
    <a href="{{ path_for('lista.nueva') }}">Nueva lista</a>
    <a href="{{ path_for('lista.misListas') }}">Mis listas</a>
    <a href="{{ path_for('usuario.salir') }}">Cerrar sesión</a>

{% else %}
    <a href="{{ path_for('usuario.registro') }}">Registrarse</a>
    <a href="{{ path_for('usuario.login') }}">Iniciar sesión</a>
{% endif %}

{% endblock %}