{% extends 'layout.twig' %}

{% block content %}

<div class="main-w3layouts wrapper">
  <h1>Lista de Regalos</h1>
  {% if session.email %}
  <div class="main-agileinfo">
    <div class="agileits-top"> 
      <p class="bienvenida" style="font-size:30px">¡Hola {{ session.nombre }}!</p>
      <a class="inputLink" href="{{ path_for('lista.misListas') }}">Mis listas</a>
      <a class="inputLink" href="{{ path_for('lista.nueva') }}">Nueva lista</a>
      <a class="inputLink" href="{{ path_for('usuario.logout') }}">Salir</a>
    </div>	 
  </div>
  {% else %}
  <div class="main-agileinfo">
    <div class="agileits-top"> 
      <form action="{{ path_for('usuario.login') }}" method="post"> 
        <input class="text" type="text" name="email" id="email" placeholder="Email" required="">
        <input class="text" type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required=""> 
        <input type="submit" value="LOGIN">
      </form>
      <p>¿No tiene cuenta? <a href="{{ path_for('usuario.registro') }}"> ¡Regístrese!</a></p>
    </div>	 
  </div>
  {% endif %}
  <ul class="w3lsg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>	
{% endblock %}