{% extends 'layout.twig' %}

{% block content %}
<h1>Listas de regalos de {{ session.nombre }}</h1>
<table>
	<thead>
		<tr>
			<th>LISTA</th>
			<th colspan="4">OPCIONES</th>
		</tr>
	</thead>
	<tbody>
		{% for lista in listas %}
		<tr>
			<td>{{ lista.NOMBRE }}</td>
			<td>
				<td><a href="{{ path_for('producto.lista', {'idLista': lista.ID, 'nombreLista': lista.NOMBRE})}}">VER</a></td>
			</td>
			<td>
				<form action="{{ path_for('lista.eliminar')}}"  method="post">
					<input type="hidden" name="id" id="id" value="{{lista.ID}}">
					<button type="submit">ELIMINAR</button>
				</form>
			<td>
			<td>
				<td><a href="{{ path_for('lista.compartir', {'idLista': lista.ID, 'nombreLista': lista.NOMBRE})}}">COMPARTIR</a></td>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p><a href="{{ path_for('lista.nueva') }}">NUEVA LISTA</a></p>
<p><a href=".">Volver</a></p>
{% endblock %}